body{
    margin: 0;
    background-color: rgb(179, 179, 179);
}

/*CONTENEDOR GLOBAL*/
#container{
    margin: 10px;
    width: 98vw;
    height: 97vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
    border: 1px solid rgb(226, 226, 226);
}

/*HEADER Y FOOTER*/
header, aside, footer {
    background-color: rgb(236, 234, 234);
}

header, footer{
    width: 100%;
    text-align: center;
    grid-column: 1/5;
    color:rgb(184, 184, 184);
}

/*ARTICULOS LATERALES*/
aside {
    width: 99.9%;
    grid-column: 4/5;
    grid-row: 2/5;
    border: 1px solid rgb(226, 226, 226);
    border-collapse: collapse;
    font-size: large;
}

aside nav{
    padding: 5px;
    border: 1px solid rgb(226, 226, 226);
    border-collapse: collapse;
}

aside article{
    padding: 5px;
    border: 1px solid rgb(226, 226, 226);
    border-collapse: collapse;
}

aside h3,aside h4,aside p{
    padding-left: 30px;
}

aside a{
    color: rgb(158, 157, 157);
}


/*ARTICULOS*/
section {
    width: 100%;
    background-color: rgb(247, 247, 247);
    grid-column: 1/4;
    grid-row: 2/5;
}

section article.content{
    border: 1px solid rgb(226, 226, 226);
    padding: 20px;
}